@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");



.switch{
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.labelling{
    /* padding: 9px ; */
}